/* styles.css */

body {
    font-family: Arial, sans-serif;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .section-title {
    font-size: 2rem;
  }
  
  .footer {
    background-color: #343a40;
    color: #fff;
  }
.nav_img
{
  width: 4%;
  height: 4%;
  border: 1px solid white;
  border-radius: 70%;
}  
@media screen and (min-width:300px){
  .nav_img{
    width:10%;
    height: 10%;
  }
}
.navbar-brand
{
  margin-left: 2vw;
}