/* styles.css */

body {
    font-family: Arial, sans-serif;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .section-title {
    font-size: 2rem;
  }
  
  .footer {
    background-color: #343a40;
    color: #fff;
  }
.nav_img
{
  width: 4vw;
  height: 4vw;
  border: 1px solid white;
  border-radius: 70%;
}  
.navbar-brand
{
  margin-left: 2vw;
}