@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Pacifico&family=Protest+Revolution&display=swap");
/* font-family: "Pacifico", cursive; */
* {
  margin: 0;
  padding: 0;
  text-align: center;
}
#navbar {
  font-family: "Pacifico", cursive;
  height: 8vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.gameBtnsSec {
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice {
  height: 15vw;
  width: 16vw;
  margin: 1vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 14vw;
  width: 15vw;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2.5px 2px 16px 1px black;
}
.choice:hover {
  background-color: black;
}
.scoreSec {
  font-family: "Pacifico", cursive;
  margin: 3vw 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.yScore p {
  font-size: x-large;
  text-align: center;
}
.cScore p {
  font-size: x-large;
  text-align: center;
}
.dispMsg {
  background-color: black;
  color: white;
  margin: 0 auto;
  display: inline-block;
  border-radius: 1rem;
}
.dispMsg p {
  font-size: 2rem;
  padding: 1vw;
}
